{% include '/head.html' %}


{% include '/nav.html' %}

<div class="container-fluid">
  {% for project in projects %}
    {% if project['type']=='core' %}
      <div class="row">
        <div class="col-xs-9 center-block">
          <h2>{{project['header']}}</h2>
          <p><h4><a target="_blank" href="{{project['website']}}">Visit website</a></h4></p>
					<img src="static/img/thumb/{{project['thumb']}}" class="pull-left project-modal-img" width="150px" alt="{{project['header']}}">
        {{ project['content']|safe }}
        </div>
      </div>
      <div class="row"><div class="col-xs-9 center-block"><hr></div></div>
    {% endif %}
  {% endfor %}
</div><!-- container-fluid --><?php
{% include 'footer.html' %}
{% include 'scripts.html' %}
