<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Center for Digital Humanities - University of South Carolina">
	<meta name="keywords" content="digital, united, states, south, institute, southern, studies">
	<meta name="description" content="The official website for the Digital United States South.">

	<title>{{ title }} - Digital United States South</title>

	<link rel="stylesheet" href="static/css/bootstrap.css">
	<link rel="stylesheet" href="static/css/font-awesome.min.css">
	<!--<link rel="stylesheet" href="static/css/slick.css">
	<link rel="stylesheet" href="static/css/slick-theme.css">-->


	<!--Slick Carousel-->
		<link rel="stylesheet" type="text/css" href="static/slick/slick.css"/>
		<link rel="stylesheet" type="text/css" href="static/slick/slick-theme.css"/>

	<link rel="stylesheet" href="static/css/duss.css">
	<link href="static/css/style.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="static/css/duss-search.css">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">	

	<script src="static/js/modernizr.min.js"></script>
	
	<!--<?php include "google-analytics.php"; ?>-->
	
</head>
<body>
