


/* search page styles*/
hr {
	margin-top: .5em;
	margin-bottom: 0px;
	color: black;
	height: 1px;
	background-color:black;
}

.nopadding {
   padding-left: 0 !important;
   padding-right: 0 !important;
}